.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.body-style {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.adress-class{
    display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-bottom: 0;
    margin-top: 0;
}
ul{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}
a{
    text-decoration: none;
}
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;

}
.header-navigation {
    display: flex;
    align-items: center;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.heder .container{
    display: flex;
        margin: 0 auto;
        justify-content: space-between;
}

.title-one{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    

}

.logo{
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color:#4D5AE5;
        text-transform: uppercase;
        line-height: 1.17;
        font-optical-sizing: auto;

}
.logo-head{
    color: #2E2F42;
}
.head-page{
        font-family: "Roboto" sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #2E2F42;
            display: flex;
            gap: 40px;
}
.head-page .link-head {
    padding: 24px 0;
}

.link-page:hover{
    color: #404bbf
}
.link-page:focus{
    color: #404bbf;
}
.link-page{
    color: #2E2F42;
}
.my-contact{
    font-family: "Roboto" sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
        display: flex;
        gap: 40px;
        padding-top: 24px;
}
.my-contact:hover{
    color: #404bbf;
}
.my-contact:focus{
    color: #404bbf;
}
.button-knopka:hover{
    background: #404BBF;
}
.button-knopka:focus{
    background: #404BBF;
}

.button-knopka{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        background-color: #4D5AE5;
        color: #FFFFFF;
        border-color: #4D5AE5;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        margin-top: 48px;
        
}

.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.header-team{
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        line-height: 1.11;
        text-transform: capitalize;
        color: #2e2f42;
        background-color: #F4F4FD;
        background-color: #FFFFFF;
    
}
.name{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.prof{
    
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-three-text {
    display: flex;
    gap: 24px;
}
.section-three-text .list-class {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.section-three-text .name{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}
.section-three-text .prof {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.header-portfolio{
        font-family: "Roboto", sans-serif;
            font-size: 36px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2E2F42;
            text-transform: capitalize;
            line-height: 1.11;
            margin-bottom: 72px;
}
.selekcion-four-text .main-portfolio{
    
        font-family: Roboto,sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px;
}
.selekcion-four-text .main-prof{
    
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.logo{
    font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-size: 18px;
        display: inline-block;
        margin-bottom: 16px;
}

.logo-head_two{
    color: #F4F4FD;
}
.footer-ramka{
    background: #2E2F42;
    padding: 100px 0;
}
.team_tri{
    background-color: #F4F4FD;
    width: 1440px; height: 732px; top: 1016px;
    
}
.adres{
    font-style: normal
}
.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    height: 72px;;
}





.button-knopka {
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.04em;
     text-align: center;
     width: Hug 169px;
     height: Hug,56px; 
     top: 428px; 
     left: 636px;
     padding: 16px 32px 16px 32px;
     border-radius: 4px;
     gap: 10px;
     
    
}

.name{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    
    margin-bottom: 8px;
    margin-top: 32px;

    
}

.header-menu-contact{
    display: flex;
    gap: 40px;
}

.comtainer-button{
    padding: 356px 636px 635px 188px;
}
.header-opis{
    display: flex;
    margin-top: 120px;
}

.image-portfolio{
display: flex;
justify-content: space-between;
}

.list-class-four {
    width: calc((100% - 48px) / 3)
}
.class-text-four{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.container-two{
    padding: 188px 0;
        max-width: 1440px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        background-color: #2E2F42;
}
.img{
    display: block;
}
.head-page .link-head {
    padding: 24px 0;
}
.section-second-text{
    display: flex;
    gap:24px;
}
.section-second-text .list-second-style{
    width: calc((100% - 72px) / 4);
}
