.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-bottom: 0;
    margin-top: 0;
}
ul{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
}
a{
    text-decoration: none;
}
.main-page{
    width: 1440px;
    height: 72px;
    margin-left: 156px;
    margin-right: 156px;
   
}

.title-one{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    

}
.selekcion-ramka {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    top: 72px;
}
.logo{
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color:#4D5AE5;
        text-transform: uppercase;
        line-height: 1.17;
        font-optical-sizing: auto;

}
.logo-head{
    color: #2E2F42;
}
.head-page{
        font-family: "Roboto" sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #2E2F42;
}
.link-page:hover{
    color: #404bbf
}
.link-page:focus{
    color: #404bbf;
}
.link-page{
    color: #2E2F42;
}
.my-contact{
    font-family: "Roboto" sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.my-contact:hover{
    color: #404bbf;
}
.my-contact:focus{
    color: #404bbf;
}
.button-knopka:hover{
    background: #404BBF;
}
.button-knopka:focus{
    background: #404BBF;
}
.button-knopka{
    background: #4D5AE5;
    cursor: pointer;
    font-family: Roboto,sans-serif;
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #FFFFFF;
        background: #4D5AE5;
        
}
.header-str{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;

}
.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.header-team{
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        line-height: 1.11;
        text-transform: capitalize;
        color: #2e2f42;
        background-color: #F4F4FD;
        background-color: #FFFFFF;
    
        
    
}
.name{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.prof{
    
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.header-portfolio{
    
        font-family: "Roboto",sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        line-height: 1.11;
        text-transform: capitalize;
        color:#2e2f42
        
}
.main-portfolio{
    
        font-family: Roboto,sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.main-prof{
    
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}

.logo-head_two{
    color: #F4F4FD;
}
.footer-ramka{
    background: #2E2F42;
}
.team_tri{
    background-color: #F4F4FD;
    width: 1440px; height: 732px; top: 1016px;
    
}
.adres{
    font-style: normal
}
.footer-text{
    background: #F4F4FD;
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    background: #2E2F42;
}
.body-fam{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
}
.foto-team{
    background-color: #FFFFFF;
    display: inline-flex;
    padding-left: 156px;
    padding-right: 156px;
    margin: 24px;
}


.title-one {
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
}

.button-knopka {
     font-size: 16px;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.04em;
     text-align: center;
     width: Hug 169px;
     height: Hug 56px; 
     top: 428px; 
     left: 636px;
     padding: 16px 32px 16px 32px;
     border-radius: 4px;
     gap: 10px;
     
    
}
.ramkaone{
    width: 1440px;
    height: 72px; 
    border: 0px 0px 1px 0px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    display: flex;
}

.container{
    width: Hug 264px;
    height: Hug 380px;
    top: 1248px;
    left: 156px;
    padding: 0px, 0px, 32px, 0px;
    border-radius: 0px, 0px, 4px, 4px;
    gap: 32px;
    margin: auto;    
    width: 1440px;
    height: 600px;
    top: 72px;
}
.container-two{
    width: 1128px;
    height: 104px;
    top: 792px;
    left: 156px;
    margin: auto;
    margin-top: 120px;
}
.foto-one-item{
width: 264px; 
margin: auto;

}
.name{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    
    margin-bottom: 8px;
    margin-top: 32px;

    
}
.prof{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        margin: 0px;
}
.heder-logo{
    
    align-items: center;
    width: 1440px; 
    height: 72px;

}
.heder-contact {
    display: flex;
    gap: 40px;
    flex-flow: row nowrap;

}
.heder-logo.container {
   height: inherit;
   
   justify-content: space-between;
   align-items: center;
}
.heder-container {
    width: 1440px;
    height: 72px;
}
.adres{
    
}

.heder-menu-list{
    gap: 40px;
    display: flex;
    margin-left: 76px;
    
}


.container-two{
    display: flex;
    flex-flow: row nowrap;
}

.list-style{
    display: flex;
    gap: 24px;
}
.foto-team-people{
    
    align-items: center;
}
.my-contact{
    display: flex;
    align-items: center;
}
.foto-one{
    margin-left: 156px;
}
.foto-four{
    margin-right: 156px;
}
.wrap{
    width: 1440px;
    height: 732px;
    top: 1016px;
}
.header-team{
    align-content: center;
}


