.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.title-one{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}
.selekcion-ramka {
    background: #2E2F42;
}
.logo{
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color:#4D5AE5;
        text-transform: uppercase;
        line-height: 1.17;
        font-optical-sizing: auto;

}
.logo-head{
    color: #2E2F42;
}
.head-page{
        font-family: "Roboto" sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #2E2F42;
}
.link-page:hover{
    color: #404bbf
}
.link-page:focus{
    color: #404bbf;
}
.link-page{
    color: #2E2F42;
}
.my-contact{
    font-family: "Roboto" sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}
.button-knopka:hover{
    background: #404BBF;
}
.button-knopka:focus{
    background: #404BBF;
}
.button-knopka{
    background: #4D5AE5;
    cursor: pointer;
    font-family: Roboto,sans-serif;
    font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #FFFFFF;
        background: #4D5AE5;
}
.header-str{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;

}
.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.paragraf-one {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.header-team{
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        line-height: 1.11;
        text-transform: capitalize;
        color: #2e2f42;
        background-color: #F4F4FD;
        background-color: #FFFFFF;
    
}
.name{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}
.prof{
    
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.header-portfolio{
    
        font-family: "Roboto",sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
        line-height: 1.11;
        text-transform: capitalize;
        color:#2e2f42
        
}
.main-portfolio{
    
        font-family: Roboto,sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
}
.main-prof{
    
        font-family: Roboto,sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}

.logo-head_two{
    color: #F4F4FD;
}
.footer-ramka{
    background: #2E2F42;
}
.team-tri{
    background-color: #F4F4FD;
}
.adres{
    font-style: normal
}
.footer-text{
    background: #F4F4FD;
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
